---
- name: Deploy Application on EC2
  hosts: web
  become: true

  vars:
    aws_region: "{{ aws_region | default('us-east-1') }}"
    aws_account_id: "{{ aws_account_id }}"
    ecr_repo: my-app-repo
    image_tag: "{{ image_tag | default('latest') }}"
    container_name: my-app-container
    container_port: 80

  tasks:
    - name: Install required packages
      apt:
        name:
          - docker.io
          - awscli
        state: present
        update_cache: yes

    - name: Start Docker service
      service:
        name: docker
        state: started
        enabled: true

    - name: Login to Amazon ECR using IAM Role
      community.docker.docker_login:
        registry_url: "{{ aws_account_id }}.dkr.ecr.{{ aws_region }}.amazonaws.com"
        username: AWS
        password: "{{ lookup('pipe', 'aws ecr get-login-password --region ' + aws_region) }}"

    - name: Pull latest Docker image
      community.docker.docker_image:
        name: "{{ aws_account_id }}.dkr.ecr.{{ aws_region }}.amazonaws.com/{{ ecr_repo }}"
        tag: "{{ image_tag }}"
        source: pull

    - name: Run / Update Docker container
      community.docker.docker_container:
        name: "{{ container_name }}"
        image: "{{ aws_account_id }}.dkr.ecr.{{ aws_region }}.amazonaws.com/{{ ecr_repo }}:{{ image_tag }}"
        state: started
        restart_policy: always
        recreate: true
        ports:
          - "80:{{ container_port }}"

