name: CD - Deploy Application

on:
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy Application with Ansible
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

      - name: Disable host key checking
        run: |
          echo -e "Host *\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config

      - name: Install Ansible Docker collection
        run: |
          ansible-galaxy collection install community.docker

      - name: Deploy with Ansible
        run: |
          ansible-playbook -i ansible/hosts.ini ansible/deploy.yml \
            --extra-vars "image_tag=${{ github.sha }}"

